@page
@model Salones.App.Frontend.Pages.DetallesEstudModel
@{
    ViewData["Title"] = "Listas";
}
<h1>Detalles Estudiante</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo identificacion</th>
            <th scope="col">Numero de documento</th>
            <th scope="col">Edad</th>
            <th scope="col">Estado COVID</th>
            <th scope="col">Cerrera</th>
            <th scope="col">Semestre</th>
            <th scope="col">Facultad</th>
            <th scope="col">Sintomas</th>
            <th scope="col">Tipo de Sintomas</th>
            <th scope="col">Estado Covid</th>
            <th scope="col">Fecha Diagnostico</th>
            <th scope="col">Periodo Aislamiento </th>
        </tr>
     </thead>
    <tbody>
        <tr>
            <td> @Model.estudiante.nombres </td>
            <td> @Model.estudiante.apellidos </td>
            <td> @Model.estudiante.tipoIdentificacion </td>
            <td> @Model.estudiante.identificacion </td>
            <td> @Model.estudiante.edad </td>
            <td> @Model.estudiante.estadoCovid </td>
            <td> @Model.estudiante.carrera </td>
            <td> @Model.estudiante.semestre </td>
            <td> @Model.estudiante.facultad </td>
            <td> @Model.estudiante.estadoCovid.sintomas</td>
            <td> @Model.estudiante.estadoCovid.tipoSintomas</td>
            <td> @Model.estudiante.estadoCovid.estadoCovid</td>
            <td> @Model.estudiante.estadoCovid.fechaDiagnostico</td>
            <td> @Model.estudiante.estadoCovid.periodoAislamiento</td>
        </tr>
       </tbody>
</table>
<a class="nav-link" asp-area="" asp-page="/Personas/ListEstud">Volver</a>