@page
@model Salones.App.Frontend.Pages.ListDirectModel
@{
    ViewData["Title"] = "Listas";
}

<h1>Listado de Directivos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo identificacion</th>
            <th scope="col">Numero de documento</th>
        </tr>
     </thead>
      @foreach (var direc in Model.directivos)
    {
    <tbody>
        <tr>
            <!--<td> @direc.id </td>-->
            <td> @direc.nombres </td>
            <td> @direc.apellidos </td>
            <td> @direc.tipoIdentificacion </td>
            <td> @direc.identificacion </td>
            <td>
                <a class="btn btn-primary table-tbn" asp-page="./DetallesDirect" asp-route-direcId="@direc.id">
                <i class="fas fa-info-circle"></i>
                Detalles
                </a>
            </td>
        </tr>
       </tbody>
    }
</table>
