@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<h1>Listado de directivos</h1>


<table border="2px">
    <tr> <strong>
            <td>id </td>
            <td>nombre </td>
            <td>apellidos </td>
            <td>tipo documento </td>
            <td>numero documento </td>
            <td>edad </td>
            <!--<td>estado COVID </td>-->
        </strong>

    </tr>

    @foreach (var direc in ListDirect.getAll())
    {
        <tr>
            <td> @direc.id </td>

            <td> @direc.nombres </td>
            <td> @direc.apellidos </td
            <td> @direc.tipoIdentificacion </td>
            <td> @direc.identificacion </td>
            <td> @direc.edad </td>
           <!-- <td> @direc.estadoCovid </td> -->
            <td> ver detalles</td>
        </tr>

    }

</table>